.bubble {
    animation: expand .75s ease-in-out infinite;
    border-radius: 50%;
    display: inline-block;
    transform-origin: center center;
    margin: 0 .5rem;
    width: .8rem;
    height: .8rem;
}
.bubble-1 {
    background: white;
}
.bubble-2 {
    animation-delay: 180ms;
    background: white;
}
.bubble-3 {
    animation-delay: 360ms;
    background: white;
}
@keyframes expand {
0% {
    /* transform: scale(1); */
    transform: translateY(0);
}
25% {
    /* transform: scale(1.55); */
    transform: translateY(40%);
    }
}